<!-- tags -->
<%- include('./errorHandling/messages'); %>
<div class="column height-limit">
    <div class="left-half holder overflow">
        <h3>Available Tags</h3>
        <ul class="five-col-grid">
        <% tags.forEach(function(tag) { %>
            <li class="btn select grid-item" value="<%=tag._id%>"><%=tag.name%></li>
        <% }); %>
        </ul>
        <h3>Selected Tags</h3>
        <ul class="selected five-col-grid">
            <% image.tags.forEach(function(imageTag) { %>
                <li class="deselect selected-tag" value="<%=imageTag._id%>"><%=imageTag.name%></li>
            <% }); %>
        </ul>
        <form action="<%=image.updateUrl%>" method="POST">
            <input type="hidden" name="tags" id="tags">
            <button class="btn-dark stretch">Update</button>
        </form>
    </div>
    <!-- image -->
    <div class="right-half holder">
        <img src="<%=image.path%>">
    </div>
</div>
<script src="/scripts/tagFunctionality.js"></script>