<h2>More Tags</h2>
<ul>
    <% tags.forEach(function(tag) { %>
        <a href="<%=tag.url%>"><li><%=tag.name%></li></a>
    <% }); %>
</ul>
<h2>Images for <%=tag.name%></h2>
<div class="gallery">
    <% if(images.length > 0) { %>
        <% images.forEach(function(image) { %>
            <!-- nsfw/sfw block -->
            <% if(image.nsfw) { %>
                <a class="gallery-item" href="<%=image.url%>"><div class="cover"><p>NSFW</p><p>Click to View</p></div><img src="<%=image.path%>"></a>
            <% } else { %>
                <a href="<%=image.url%>"><img src="<%=image.path%>"></a>
            <% }; %>
            <!-- end -->
        <% }); %>
    <% } else { %>
        <p>No images to display.</p>
    <% }; %>
</div>