<!-- heading welcome -->
<div class="box row stretch height-limit">
    <section class="top stretch m-b">
        <div class="card column holder bg-dark stretch white-text">
            <img class="profile-pic m-r" src="<%=pageUser.profilePicture%>">
            <div class="info stretch overflow">
                <h3 class="p-b-small grey-bottom-border stretch"><span class="primary-text"><%=pageUser.username%></span></h3>
                <% if(pageUser.description) { %>
                    <p>"<%=pageUser.description%>"</p>
                <% }; %>
            </div>
        </div>
    </section>
    <main class="images holder bg-dark stretch white-text">
        <a class="btn current" href="<%=pageUser.url%>">Gallery</a>
        <a class="btn" href="<%=pageUser.favoritesUrl%>">Favorites</a>
        <div class="gallery m-t">
            <!-- image section -->
            <% if(images.length > 0) { %>
                <% images.forEach(function(image) { %>
                    <!-- nsfw/sfw block -->
                    <% if(image.nsfw) { %>
                        <a class="gallery-item" href="<%=image.url%>"><div class="cover"><p>NSFW</p><p>Click to View</p></div><img src="<%=image.thumbnail%>"></a>
                    <% } else { %>
                        <a href="<%=image.url%>"><img src="<%=image.thumbnail%>"></a>
                    <% }; %>
                    <!-- end -->
                <% }); %>
            <% } else { %>
                <p>This user has no submissions.</p>
            <% }; %>
        </div>
        <!-- pagination -->
        <% if(pages > 1) { %>
            <div class="pagination justify-center">
                <!-- previous -->
                <% if(page == 0) { %>
                    <a class="m-r" href="">Previous</a>
                <% } else { %>
                    <a class="m-r" href="<%=pageUser.url%>/?page=<%=Number(page)-1%>">Previous</a>
                <% }; %>
            
                <% for(let i = 0; i < pages; i++) { %>
                    <a class="m-r" href="<%=pageUser.url%>/?page=<%=i%>"><%=i%></a>
                <% }; %>
                
                <!-- next -->
                <% if(page == pages-1) { %>
                    <a class="m-r" href="">Next</a>
                <% } else { %>
                    <a class="m-r" href="<%=pageUser.url%>/?page=<%=Number(page)+1%>">Next</a>
                <% }; %>
            </div>
        <% }; %>
    </main>

</div>