<!-- heading welcome -->
<% if(user && user._id.toString() === pageUser._id.toString()) { %>
    <h1>Welcome, <%= user.username %></h1>
<% }; %>

<h2>About</h2>
<img src="<%=pageUser.profilePicture%>">
<ul>
    <li><%=pageUser.username%></li>
    <% if(pageUser.description) { %>
        <li><%=pageUser.description%></li>
    <% }; %>
</ul>
<h2>Gallery</h2>
<div class="gallery">
    <!-- image section -->
    <% if(images.length > 0) { %>
        <% images.forEach(function(image) { %>
            <a href="<%=image.url%>"><img src="<%=image.path%>"></a>
        <% }); %>
    <% } else { %>
        <p>This user has no submissions.</p>
    <% }; %>
</div>
<% for(let i = 0; i < pages; i++) { %>
    <a href="<%=pageUser.url%>/?page=<%=i%>"><%=i%></a>
<% }; %>

<h2>Favorites</h2>
<% if(favorites) { %>
    <% favorites.forEach(function(favorite) { %>
        <a href="<%=favorite.url%>"><img src="<%=favorite.path%>"></a>
    <% }); %>
<% } else { %>
    <p>No favorites to display.</p>
<% }; %>