<!-- heading welcome -->
<% if(user && user._id.toString() === pageUser._id.toString()) { %>
    <h1>Welcome, <%= user.username %></h1>
<% }; %>

<h2>About</h2>
<img src="<%=pageUser.profilePicture%>">
<ul>
    <li><%=pageUser.username%></li>
    <% if(pageUser.description) { %>
        <li><%=pageUser.description%></li>
    <% }; %>
</ul>
<h2>Gallery</h2>
<div class="gallery">
    <!-- image section -->
    <% if(images.length > 0) { %>
        <% images.forEach(function(image) { %>
            <!-- nsfw/sfw block -->
            <% if(image.nsfw) { %>
                <a class="gallery-item" href="<%=image.url%>"><div class="cover"><p>NSFW</p><p>Click to View</p></div><img src="<%=image.path%>"></a>
            <% } else { %>
                <a href="<%=image.url%>"><img src="<%=image.path%>"></a>
            <% }; %>
            <!-- end -->
        <% }); %>
    <% } else { %>
        <p>This user has no submissions.</p>
    <% }; %>
</div>
<% if(pages > 1) { %>
    <% for(let i = 0; i < pages; i++) { %>
        <a href="<%=pageUser.url%>/?page=<%=i%>"><%=i%></a>
    <% }; %>
<% }; %>

<h2>Favorites</h2>
<div class="favorites">
    <% if(favorites.length > 0) { %>
        <% favorites.forEach(function(image) { %>
            <% if(image.nsfw) { %>
                <a class="gallery-item" href="<%=image.url%>"><div class="cover"><p>NSFW</p><p>Click to View</p></div><img src="<%=image.path%>"></a>
            <% } else { %>
                <a href="<%=image.url%>"><img src="<%=image.path%>"></a>
            <% }; %>
        <% }); %>
    <% } else { %>
        <p>No favorites to display.</p>
    <% }; %>
</div>
<a href="<%=pageUser.favoritesUrl%>">Show All</a>